/* Client-specific Styles */
#outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
body{width:100% !important;} .ReadMsgBody{width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */

/* Reset Styles */
body{margin:0; padding:0;}
img{border:0; outline:none; text-decoration:none;}
table td{border-collapse:collapse;}
#backgroundTable{height:100% !important; margin:0; padding:0; width:100% !important;}

a:link, a:visited, /* Yahoo! Mail Override */ a .yshortcuts /* Yahoo! Mail Override */{
	color:#E36A22;
	font-weight:normal;
	text-decoration:underline;
}

body, #backgroundTable{
	background-color:#eaeaea;
}

#templateContainer{
	border: none;
}

h1, .h1{
	color:#202020;
	display:block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:36px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

h2, .h2{
	color:#202020;
	display:block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:24px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

h3, .h3{
	color:#202020;
	display:block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

h4, .h4{
	color:#202020;
	display:block;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:16px;
	font-weight:bold;
	line-height:100%;
	margin-top:0;
	margin-right:0;
	margin-bottom:10px;
	margin-left:0;
	text-align:left;
}

.bodyContent .preheader {
	color:#202020;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:12px;
	font-weight:bold;
	line-height:24px;
}

#templateHeader{
	background-color:#eaeaea;
	border-bottom:0;
}

.headerContent{
	color:#202020;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:8px;
	font-weight:bold;
	line-height:100%;
	padding:0;
	text-align:center;
}

#headerImage{
	height:auto;
	max-width:560px;
	width:560px;
	display: block;
}

.bodyContent {
	background-color:#d8d8d8;
}

.bodyContent div, .bodyContent div td {
	color:#282828;
	font-family:Georgia, Times, "Times New Roman", serif;
	font-size:14px;
	line-height:150%;
	text-align:left;
}

.bodyContent img{
	display:inline;
}

.note{
	font-size:16px;
	font-style:italic;
	margin-bottom: 10px;
}

.article{
	border-top:1px dashed #aeaeae;
}

.quote {
	margin:20px 0 20px 40px;
	border-left:1px solid #a3a3a3;
	padding:20px;
	color:#595959;
	font-style:italic;
}

.quote p {
	color:#595959;
	font-style:italic;
}

#signature div {
	font-family:Georgia, Times, "Times New Roman", serif;
}

#signature .signatureTitle, #signature .signatureContact {
	font-size:12px;
	color:#595959;
}

#signature .signatureName {
	color:#282828;
	font-size:24px;
	line-height:100%;
}

#signature .signatureContact {
	font-style:italic;
}

#templateSidebar div {
	color: #737373;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size:11px;
	line-height:150%;
	text-align:left;
}

#templateSidebar h2, #templateSidebar .h2 {
	font-family:Georgia, Times, "Times New Roman", serif;
	font-weight:normal;
}

#templateSidebar h4, #templateSidebar .h4 {
	font-size:12px;
	line-height:125%;
	text-align:left;
	margin: 0;
}

.relatedEvents {
	border-bottom:1px dashed #aeaeae;
}

.templateButton{
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	background-color:#ed7127;
	border:0;
	border-collapse:separate !important;
	border-radius:3px;
}

.templateButton, .templateButton div, .templateButton div a:link, .templateButton div a:visited, /* Yahoo! Mail Override */ .templateButton a .yshortcuts /* Yahoo! Mail Override */{
	color:#FFFFFF;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	letter-spacing:-.5px;
	line-height:100%;
	text-align:center;
	text-decoration:none;
}

#templateSidebar .templateButton div {
	text-align: center;
}

#templateFooter{
	background-color:#eaeaea;
	border-top:0;
}

.footerContent div{
	color:#4f4f4f;
	font-family:Georgia, Times, "Times New Roman", serif;
	font-size:12px;
	line-height:125%;
	text-align:center;
}

.footerContent img{
	display:inline;
}